<app-section-title>Contact</app-section-title>
<div class="contact section section--center section__content">
  <div class="flex flex-wrap justify-evenly items-center">
    <p class="section__title w-full">
      <span class="gradientText">Let's collaborate!</span> <br />
      <span class="section__subtitle"
        >Contact me to discuss your web development needs <br />
        or just to say hello. 😎</span
      >
    </p>

    <div class="contact__image w-[90%] md:w-[30%]">
      <img src="assets/backgrounds/email.webp" alt="" />
    </div>

    <div class="contact__form w-full mt-10 md:mt-0 md:w-[40%]">
      <form class="form" #form="ngForm" (ngSubmit)="onSubmit($event, form)">
        <div class="form-group">
          <label for="subject">Subject</label>
          <input
            type="text"
            id="subject"
            name="subject"
            [(ngModel)]="formData.subject"
            placeholder="Enter Subject"
            required
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            email
            [(ngModel)]="formData.email"
            placeholder="example@gmail.com"
            required
          />
        </div>
        <div class="form-group">
          <label for="textarea">Message</label>
          <textarea
            name="textarea"
            [(ngModel)]="formData.message"
            id="textarea"
            rows="5"
            placeholder="Enter your message"
            required
          ></textarea>
        </div>
        <app-btn [isLoading]="isSending()" [icon]="'paper-plane'"
          >Submit</app-btn
        >
        @if (message()) {
          <p class="text-center">
            {{ message() }}
            <small (click)="message.set('')" class="underline">hide</small>
          </p>
        }
      </form>
    </div>
  </div>
</div>
