<app-section-title [mode]="'start'">About Me</app-section-title>
<div class="about flex items-center justify-center">
  <app-my-slider/>
  <div class="about__description flex flex-col gap-3">
    <h2>Hey there! 👋🏻</h2>
    <p>I'm Chirag, a full stack web developer with a strong passion for crafting digital realms that captivate and inspire.</p>
    <p>I specialize in creating dynamic and interactive UI/UX experience. I stay up to date with the latest tools and techniques and worked on a wide range of projects, from personal websites to large-scale applications, sharpening my problem solving skills and fostering creativity.</p>
    <p>If you're seeking a dedicated and passionate web developer, I'm eager to collaborate with you. Let's bring your ideas to life!</p>
  </div>
</div>


<app-section-title [mode]="'end'">About Me</app-section-title>
