.footer {
  margin-top: 5vh;
  min-height: 30vh;
  background-image: url("/assets/backgrounds/footer.webp");
  background-size: 100% 50%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #060320;
  text-align: center;
  position: relative;
  &__content {
    padding: 10px;
    background: linear-gradient(to bottom, var(--main-bcg), #060320);
  }
}
