.navbar {
  &__hamburger {
    cursor: pointer;
    &.disabled {
      pointer-events: none;
    }
    input {
      display: none;
    }

    svg {
      height: 3em;
      transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .line {
      fill: none;
      stroke: white;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 3;
      transition:
        stroke-dasharray 400ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 400ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .line-top-bottom {
      stroke-dasharray: 12 63;
    }

    input.open + svg {
      transform: rotate(-45deg);
    }

    input.open + svg .line-top-bottom {
      stroke-dasharray: 20 300;
      stroke-dashoffset: -32.42;
    }
  }
}
