<div class="hero flex items-center justify-around">
  <div class="text-2xl">
    <h1>
      <span>{{'HERO.INTRO-1' | translate}}</span>
      <app-glitch-text [glitchText]="'Joanna.'"/>
      <span [innerHTML]="'HERO.INTRO-2' | translateSafeHtml | async"></span>
    </h1>
    <div class="flex gap-10 mt-6">
      @for (item of socialArray; track $index) {
        <img class="w-[35px]" [src]="'./assets/icons/' + item + '.svg'" [alt]="item + 'icon'">
      }
    </div>
  </div>

  <div class="hero-orbit flex justify-center items-center aspect-square lg:w-[500px] relative w-[360px]">
    <div class="hero-orbit__avatar flex_center aspect-square rounded-full w-[50%] z-10">
      <img class="object-cover rounded-full" alt="avatar" decoding="async" height="180" loading="eager" src="https://imgcdn.stablediffusionweb.com/2024/10/24/e8cf9ac4-1b39-4aab-b2aa-8b7b538d43d0.jpg" width="250">
<!--          <img style="background-color: darkmagenta" class="object-cover rounded-[100%]" alt="avatar" decoding="async" height="180" loading="eager" src="assets/avatar.webp" width="250">-->
    </div>
    @for (orbit of orbitsArray; track orbit.width) {
      <div
        class="hero-orbit__trail"
        [ngStyle]="{
      width: orbit.width + '%',
      zIndex: orbit.index,
      animationDuration: orbit.animationDuration + 's'
      }">
        <span class="hero-orbit__dot"></span>
      </div>
    }
  </div>
</div>

