:root {
  //layout
  --max-width: 1600px;
  --nav-offset: 69px;
  --border-radius: 6px;

  //colors
  //--primary: #9400D3;
  //--secondary: #FF00BF;

  --primary: #0192b3;
  --secondary: #293998;

  --white: #ddd;
  --cyan: #00ffff;
  --gold: #ffd700;
  --sunset: #ff4500;

  //backgrounds
  --main-bcg: #000000;

  //gradients
  --orbit-gradient: conic-gradient(
    transparent,
    transparent,
    var(--secondary),
    var(--primary),
    #fff
  );
  --orbit-gradient-alt: conic-gradient(
    #fff,
    var(--primary),
    var(--secondary),
    transparent,
    transparent
  );
  --gradient: linear-gradient(
    to right,
    var(--secondary),
    var(--primary),
    var(--primary),
    var(--secondary)
  );
  --gradient-vertical: linear-gradient(
    to bottom,
    var(--secondary),
    var(--primary),
    var(--primary),
    var(--secondary)
  );
}
