.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px 15px;
  border: 2px solid #414141;
  border-radius: var(--border-radius);
  background-color: var(--main-bcg);
  color: var(--white);
  transition: 0.2s;
  overflow: hidden;
  &:not(:disabled):hover {
    filter: invert(100%);
  }
  &:disabled {
    filter: contrast(0.5);
  }
  &--fancy {
    position: relative;
    z-index: 1;
    border: none;
    transition: 0.3s;
    &:hover {
      filter: none !important;
      box-shadow: 0 0 15px var(--primary);
      &::after {
        background: linear-gradient(90deg, var(--main-bcg), var(--main-bcg));
      }
    }
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      top: -80px;
      left: -30px;
      border-radius: inherit;
      width: 200px;
      height: 200px;
      background: linear-gradient(90deg, var(--secondary), var(--primary));
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      z-index: -1;
      animation: spin 6s linear infinite;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
