.card {
  &__item {
    width: 96px;
    height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border-radius: var(--border-radius);
    gap: 5px;
    margin: 10px;
    background-color: #1a1a1a;
    font-size: 14px;
    transition: 0.2s;
    &:hover {
      box-shadow: 0 0 20px gray;
    }
  }
}
