.lang-switch {
  display: flex;
  gap: calc(var(--spacing) * 15);
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: green;
    width: 44px;
    height: 44px;
  }
  &__flag {
    width: 32px;
    border-radius: 10%;

    &--active {
      box-shadow: 0 0 5px 1px var(--white);
    }
  }
}

@media (min-width: 768px) {
  .lang-switch {
    gap: calc(var(--spacing) * 3);
    &__flag {
      width: 24px;
    }
  }
}
