<div class="lang-switch">
  <button
    class="lang-switch__btn"
    type="button"
    (click)="switchLang('en')"
  >
    <img class="lang-switch__flag" [ngClass]="{ 'lang-switch__flag--active': activeLang() === 'en' }" src="assets/icons/flag-uk.png" alt="UK flag" />
  </button>
  <button
    class="lang-switch__btn"
    type="button"
    (click)="switchLang('pl')"
  >
    <img class="lang-switch__flag" [ngClass]="{ 'lang-switch__flag--active': activeLang() === 'pl' }" src="assets/icons/flag-pl.png" alt="PL flag" />
  </button>
</div>
<p>activeLang {{activeLang()}}</p>
